@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
a {
  color: #000;
}
ul {
  list-style: none;
}
.main {
  background: url("./assets/audi.png"),
    linear-gradient(to right, rgba(0, 0, 0, 2) 0%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 100vh;
}
.img-bottom {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 20;
}
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 32px;
  position: absolute;
  width: 100%;
  z-index: 30;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.insta-icon {
  font-size: 30px;
  color: #fff;
}
.lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}
.line {
  width: 28px;
  height: 2px;
  background: #fff;
}
.line:last-child {
  margin-top: 8px;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hero .rate {
  margin-bottom: 8px;
  margin-top: 32px;
}
.hero .review {
  font-size: 14px;
  color: #bababa;
  margin-left: 4px;
}
.hero .rating {
  font-size: 16px;
}
.hero h1,
h2 {
  font-size: 56px;
  line-height: 60px;
}
.hero h2 {
  margin-left: 30px;
}
.hero p {
  margin-top: 16px;
  font-size: 18px;
  color: #bababa;
  max-width: 400px;
}
.down-icon {
  position: absolute;
  bottom: 16px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  animation: bounce 2s infinite;
  transition: transform 0.3s ease;
  z-index: 40;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(8px);
  }
}
.card-para {
  margin-top: 44px;
  font-size: 28px;
  color: #e7e7e7;
  font-weight: 400;
  margin-bottom: 48px;
}

.card-para .highlight {
  color: #919191;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  background-color: #0d0d0d;
  border: 1px solid #606060;
  width: 185px;
  height: 185px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}
.card:hover {
  background-color: #000;
}
.card p {
  font-size: 12px;
  color: #919191;
}
.border-line {
  position: absolute;
  top: 0;
  width: 150px;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.img-sec {
  background: url("./assets/rim.png"),
    linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);

  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  min-height: 100vh;
  position: relative;
}
.img-sec .img-content {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 40;
}
.img-top {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  z-index: 20;
}
.glass-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}
.glass-card {
  max-width: 535px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #2f2f2fb3;
  backdrop-filter: blur(4px);
}
.glass-card p {
  font-size: 14px;
}
.footer {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  margin-top: 44px;
}

.contact-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.contact-card p {
  text-align: center;
  font-size: 16px;
  opacity: 80%;
}
.icon {
  font-size: 24px;
  margin-bottom: 10px;
}
.social-footer {
  background-color: #000;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-top: 90px;
}
.icon-2 {
  font-size: 22px;
}
.footer-para {
  margin-top: 40px;
  font-size: 14px;
  color: #bababa;
  text-align: center;
  margin-bottom: 24px;
}
.img-bottom-2 {
  bottom: -12px;
}
.img-right {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 20;
}
@media screen and (max-width: 900px) {
  .hero,
  .card-para {
    padding: 0 32px;
  }
}
@media screen and (max-width: 800px) {
  .cards {
    flex-direction: column;
  }
  .contact-cards {
    flex-direction: column;
    gap: 100px;
  }
}

@media screen and (max-width: 500px) {
  .img-bottom-2 {
    bottom: -60px;
  }
  .img-right {
    width: 100px;
  }
  .main {
    background-position: right;
  }
  .img-sec {
    background-position: center;
  }
  .down-icon {
    bottom: 32px;
  }
}
